.fs {
  &_12 {
    font-weight: 400;
    font-style: 12px;
    line-height: 14px;
  }
  &_14 {
    font-weight: 500;
    font-style: 14px;
    line-height: 16px;
  }
  &_16 {
    font-weight: 400;
    font-style: 16px;
    line-height: 24px;
  }
}
