@use "../../sass/abstracts" as *;

.auth {
  display: flex;
  justify-content: center;

  &_box {
    margin-top: 75px;

    max-width: 396px;
    width: 100%;

    padding: 30px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }
  &_box_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .field {
    margin-bottom: 20px;
  }
}
