@use "../../sass/abstracts" as *;

.nav {
  background: #fff;
  box-shadow: 0 2px 50px 0.1px #f0f0f0;

  &_wrap {
    @include flex(center, space-between);
    height: 60px;
  }
  &_logo {
    height: 35px;
    width: 35px;

    background: $pink_900;
    border-radius: 50%;
  }
}
